[phases.setup]
nixPkgs = [
  "python311",
  "glib",
  "pango",
  "gobject-introspection",
  "cairo",
  "libffi",
  "gdk-pixbuf",
  "shared-mime-info",
  "gtk3"
]

[phases.build]
cmds = [
  "playwright install chromium",
  "playwright install-deps chromium"
]

[start]
cmd = "./start.sh"